security:
   encoders:
       FOS\UserBundle\Model\UserInterface: sha512

   role_hierarchy:
       ROLE_ADMIN:       ROLE_USER
       ROLE_SUPER_ADMIN: ROLE_ADMIN

   providers:
       fos_userbundle:
           id: fos_user.user_provider.username_email


   firewalls:

       main_login:
           pattern:   ^/(login$|register|resetting)
           anonymous: true
       main:
           pattern: ^/
           form_login:
               check_path: /login_check
               login_path: /login
               provider: fos_userbundle
               # login success redirecting options (read further below)
               always_use_default_target_path: false
               default_target_path:            /events
               target_path_parameter:          _target_path
               use_referer:                    false
           logout:
               path:    /logout
               target: /
              # provider: fos_userbundle
              # csrf_provider: form.csrf_provider

           anonymous:    true



   access_control:
       - { path: ^/login$, access: "!isAuthenticated()" }
       - { path: ^/register, access: "!isAuthenticated()" }
       - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
       - { path: ^/admin/, role: ROLE_ADMIN }
