/* CUSTOM CLASSES */

.row-offset-5{ padding-top:5px;}
.row-offset-25{ padding-top:25px;}
.row-offset-100{ padding-top:100px;}
.row-offset-150{ padding-top:150px;}
.row-offset-200{ padding-top:200px;}


.event-item:hover{
    -moz-box-shadow: 0px 0px 1px 0px #656565;
    -webkit-box-shadow: 0px 0px 1px 0px #656565;
    -o-box-shadow: 0px 0px 1px 0px #656565;
    box-shadow: 0px 0px 1px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=1);
}

.event-thumbnail{
    width: 110px;
    height: 160px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.login-container{
    width: 100%;
    height: 100%;
    background-image: url("../images/login/eeckman.png");
    background-size: 200px auto;
    background-repeat: no-repeat;
    background-position: top left;
}


.login-container .form-control {
    border-right:1px solid deeppink;
    border-top:1px solid deeppink;
    border-bottom:1px solid deeppink;
}
.login-container .input-group-addon{
    border-left:1px solid deeppink;
    border-bottom:1px solid deeppink;
    border-top:1px solid deeppink;
}

/* Right tabs */
.right-tabs .nav {
    float: right;
    border-bottom: 0px;
}
.right-tabs .nav li { float: left }
.right-tabs .tab-content {
    float: left;
    border-top: 1px solid #ddd;
    margin-top: -1px;
}
